.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px ;
}

@media screen and (max-width: 960px) {

    .footer{
        flex-direction: column;
    }

}